<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
     
  <!-- OCS 缓存配置 -->
	<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">  
    <property name="servers" value="${aliyun.ocs.url}"/>  
    <property name="protocol" value="BINARY"/>
    <property name="transcoder">  
      <bean class="net.spy.memcached.transcoders.SerializingTranscoder">  
        <property name="compressionThreshold" value="1024"/>  
      </bean>  
    </property>
    <property name="opTimeout" value="1000"/>  
    <property name="timeoutExceptionThreshold" value="1998"/>  
    <!-- <property name="hashAlg" value="KETAMA_HASH"/>  --> 
    <property name="hashAlg">
    	<value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
    </property>
    <property name="locatorType" value="CONSISTENT"/>   
    <property name="failureMode" value="Redistribute"/>  
    <property name="useNagleAlgorithm" value="false"/>  
     <property name="authDescriptor">
			 <bean class="net.spy.memcached.auth.AuthDescriptor">
				 <constructor-arg index="0">
				 	<value>PLAIN</value>
				 </constructor-arg>
				 <constructor-arg index="1">
				 	<bean class="net.spy.memcached.auth.PlainCallbackHandler">
						 <constructor-arg index="0">
						 	<value>${aliyun.ocs.name}</value>
						 </constructor-arg>
						 <constructor-arg index="1">
						 	<value>${aliyun.ocs.password}</value>
						 </constructor-arg>
			 		</bean>
			 	</constructor-arg>
			 </bean>
		 </property>
  </bean>
   
</beans>
